@model Library.Models.UserModel
@section Title {
    Регистрация
}
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h3>Регистрация</h3>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                Имя:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
                </div>
            </div>
            
            <div class="form-group">
                Фамилия:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                Адрес электронной почты:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                Никнэйм:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nick, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nick, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Пароль:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pass, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Pass, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "page")
    </div>